html,
body {
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background: darkblue;
  color: white;
  padding: 1rem;
}

header a {
  color: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

main {
  margin: 5rem auto;
  max-width: 90vw;
}

h1 {
  color: #222;
  margin-bottom: 1rem;
  text-align: center;
}

.start-form {
  border: 1px solid lightgrey;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1.5rem;
}

.start-form button,
.start-form label,
.start-form input {
  display: block;
}

.start-form label {
  font-size: 0.875rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.start-form input {
  color: #333;
  font-size: 1rem;
  margin: 0.25rem 0 1rem;
  padding: 0.75rem;
  width: 100%;
}

.start-form button,
.leave-room {
  background: darkblue;
  border: 0;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

.leave-room {
  border-radius: 0.5rem;
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 170px;
}

.chat {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 90vw;
  position: relative;
}

.chat h4 {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-right-radius: 0.5rem;
  color: white;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1;
  padding: 0.375rem 0.75rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.remote-participant {
  position: relative;
}

.chat div {
  display: block;
}

.chat video {
  display: block;
  width: 100%;
}
